*{
    font-family: 'Roboto', sans-serif;
}

header {
    position: relative;
}

nav {
    height: 50px;
    background-color: #212121;
}

.menu {
    display: flex;
    justify-content: space-between ;
    padding: 13px 70px;
    margin: 0;
    list-style-type: none;
}

.menu .menu_link {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    color: #fff;
}

.menu .menu_item {
    border-right: 2px dotted black;
    padding-right: 30px;
}

.subheader {
    height: 84px;
    background-color: rgba(0,0,0, 0.6);
    z-index: 1;
    position: absolute;
    width: 100%;
}

.subheader .subheader_logo {
    margin-top: 16px;
    display: block;
    min-width: 100%;
}

.subheader .subheader_official {
    margin-top: 6px;
    font-size: 13px;
    font-weight: 100;
    color: rgba(255, 255, 255, 0.5);
}

.subheader .subheader_call {
    margin-top: 19px;
    font-size: 12px;
    font-weight: 300;
    text-align: right;
    color: #fff;
}

.subheader .subheader_phone {
    margin-top: 8px;
    line-height: 12px;
    font-size: 22px;
    color: #fff;
    display: block;
    text-align: right;
    text-decoration: none;
}

.subheader .subheader_btn, .promo .promo_btn {
    width: 172px;
    height: 46px;
    margin-top: 19px;
    box-shadow: inset 0px -3px 0 0 rgba(0, 0, 0, 0.12);
    border: none;
    border-radius: 4px;
    background-image: linear-gradient(to top, #1eacc7, #4ce2ff);
    text-shadow: 0.7px 0.7px 0 rgba(0, 0, 0, 0.21);
    font-size: 14px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
}

.promo {
    background: url("../img/bg-car.jpg") center center/cover no-repeat;
    min-height: 748px;
    padding: 151px 0 135px 0;
}

.promo .promo_header {
    font-size: 60px;
    text-align: center;
    color: #fff;
    font-weight: 900;
    line-height: 0.4;
}

.promo .promo_subheader {
    margin-top: 20px;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    color: #fff;
}

.promo .promo_descr {
    margin-top: 23px;
    font-size: 18px;
    line-height: 1.33;
    text-align: center;
    color: #fff;
}

.promo .promo_btn {
    height: 63px;
    width: 259px;
    display: block;
    margin: 0 auto;
    margin-top: 118px;
    font-size: 18px;
}

.reasons { 
    padding: 71px 0 65px 0;
}

.label {
    display: block;
    width: 112px;
    height: 24px;
    margin: 0 auto;
    padding: 4px 11px 6px 12px;
    background-color: #000;
    font-size: 11px;
    font-weight: 100;
    text-align: center;
    color: #fff;  
}

.title{
    margin-top: 38px;
    font-size: 38px;
    font-weight: bold;
    text-align: center;
    color: #222;
    text-transform: uppercase;
}

.reasons .reasons_block {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
}

.reasons .reasons_round {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 26px;
    width: 113px;
    height: 113px;
    border-radius: 100%;
    background-color: #1eacc7;

}

.reasons .reasons_text_wrapper {
    width: 343px;
}

.reasons .reasons_subtitle {
    font-family: Roboto;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: justify;
    font-size: 17px;
    font-weight: normal;
    color: #1eacc7;
}

.reasons .reasons_text {
    font-size: 15px;
    font-weight: 300;
    line-height: 1.4;
    text-align: justify;
    color: #202020;
}